/* Google Fonts, SIL Open Font License 1.1. Local subsets for this prototype. */
@font-face{font-family:'M PLUS Rounded 1c';font-style:normal;font-weight:900;font-display:swap;src:url('fonts/rounded-0.woff2')}
@font-face{font-family:'Noto Sans JP';font-style:normal;font-weight:400;font-display:swap;src:url('fonts/body-0.woff2')}
@font-face{font-family:'Noto Sans JP';font-style:normal;font-weight:700;font-display:swap;src:url('fonts/body-bold-0.woff2')}
